// Dark MDC variables

/* $mdc-theme-primary: #002171; */
$mdc-theme-primary: #b71c1c;
$mdc-theme-secondary: #102027;
$mdc-theme-background: #000;
$mdc-theme-surface: #121212;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #fff;
$dark: true;

@import "lib/scss/theme";
