// Mixins

@mixin position($q, $position: right, $vertical: bottom){
    #{$position}: $q;
    #{$vertical}: $q;
    float: $position;
}

@mixin position_margin($q,$position:right,$vertical:bottom){
    margin-#{$position}: $q;

    @if $vertical == 'bottom'{
        margin-top: $q;
    }@else{
        margin-bottom: $q;
    }
}

@mixin lateral-margin($m:$global-lateral-margin){
    margin-left: $m;
    margin-right: $m;
}

@mixin responsive-col($num:2){
    @extend .mdc-layout-grid__cell--span-#{$num};
    @extend .mdc-layout-grid__cell--span-#{$num}-phone;
    @extend .mdc-layout-grid__cell--span-#{$num * 2}-tablet;
    @extend .mdc-layout-grid__cell--span-#{$num * 3}-desktop;
}

@mixin multi-fit-content($item){
    #{$item}: fit-content;
    #{$item}: -moz-fit-content;
    #{$item}: -webkit-fit-content;
}

// Common components
%normal-text{
    color: $mdc-theme-on-surface;
    text-decoration: none;
}

%normal-fab{
    $pos: 1rem;

    position: fixed !important;
    z-index: 3;
    float: right;
    @include position($pos);

    @media (min-width: 1024px){
        $pos: 1.5rem;
        @include position($pos);
    }
}

%large-dialog{
    @include mdc-dialog-min-width($global-dialog-min-width);
    @include mdc-dialog-max-width($global-dialog-max-width, $global-lateral-margin);
}

/* General styles */
html, body, main{
    margin: 0;
    padding: 0;
}

a[rel], a[rel]:visited, a[data-idiomas='boton-cambio']{
    @extend %normal-text;
}

/* Ajustes de la página principal */
header#top-app-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .mdc-menu-surface{
        position: absolute !important;
        bottom: unset !important;
        left: unset !important;
        top: 2vh !important;
        right: 4vw !important;
    }
}

#cargando{
    display: none; //Hide the loading splash when load finishes
}

main#main{
    margin-top: 72px;
}

#motd{
    text-align: center;
}

#visor{
    padding-top: 2%;
    padding-bottom: 46px; //Set the padding to the FAB size
}

body{
    background-color: $mdc-theme-background;
    color: $mdc-theme-on-surface;
}

body:not([data-login-ok="true"]) #boton-usuario{
    display: none;
}

.app-fab--absolute{
    @extend %normal-fab;
}

/* Dialog settings */
#modal-ajustes{
    .mdc-card{
        @include responsive-col(4);
    }

    .card-main-text{
        @include lateral-margin();
    }
}

@if $dark == true{
    .mdc-dialog .mdc-dialog__scrim{
        background-color: rgba(0, 0, 0, 0.7);
    }

    .mdc-elevation--z4{
        box-shadow: 0 2px 4px -1px rgba(255, 0, 0, 0.2), 0 4px 5px 0 rgba(255, 0, 0, 0.14), 0 1px 10px 0 rgba(255, 0, 0, 0.12);
    }
}

/* Ajustes de la página personal */
.link-container{
    overflow-x: auto;
}

[data-sync='indicador']{
    color: white !important;
}

.mdc-list-item__meta > a[href="#"]{
    @extend %normal-text;
}

.mdc-list-item__meta{
    @include multi-fit-content("min-width");

    white-space: nowrap;
}

li.mdc-list-item > .mdc-list-item__text{
    width: 80%;
    overflow: hidden; //Hide overflow on the title

    .link-container{
        text-overflow: clip;
    }
}

#modal-añadir{
    @extend %large-dialog;

    .mdc-dialog__content{
        min-width: $global-dialog-min-width;
    }
}

#modal-usersettings{
    @extend %large-dialog;

    .mdc-dialog__content{
        min-width: $global-dialog-min-width;

        div.mdc-text-field{
            &:not(:first-child){
                margin-top: $global-vertical-margin;
            }

            & + button:last-child{
                margin-top: $global-vertical-margin;
            }
        }

        [data-role="error"]{
            text-align: right;
            color: $mdc-theme-error;
        }
    }
}

#visor > .container{
    @if $dark == true{
        background-color: $mdc-theme-secondary;
    }
}

/* Clases útiles */
.centro-ventana{
    margin: auto;
}

.nosel{
    user-select: none;
}

.girar{
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.nosub{
    text-decoration: none;
}
