::-webkit-scrollbar{
    width: 2pt;
}

::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb{
    transition: color 1s;
    background-color: rgba($mdc-theme-on-secondary, 0.5);

    &:hover, &:active{
        background-color: rgba($mdc-theme-primary, 1);
    }
}
