//MDC Variables

$mdc-theme-primary: #0d47a1 !default;
$mdc-theme-secondary: #37474f !default;
$mdc-theme-background: #f5f5f6 !default;
$mdc-theme-surface: #f5f5f6 !default;
$mdc-theme-on-primary: #fff !default;
$mdc-theme-on-secondary: #fff !default;
$dark: false !default;

//Global variables
$global-lateral-margin: 2vw;
$global-vertical-margin: 1vh;
$global-dialog-min-width: 50vw;
$global-dialog-max-width: 80vw;

@import "node_modules/material-components-web/material-components-web";

@import "lib/scss/scrollbar";

@import "lib/scss/index";

@import "lib/scss/login";
