<div class="container">
    <ul class="mdc-list mdc-list--two-line mdc-elevation--z4">
        <li v-for="item in links" class="mdc-list-item" data-mdc-auto-init="MDCRipple">
            <span class="mdc-list-item__text">
                <span data-desc class="nosel mdc-list-item__primary-text">{{item.descripción}}</span>
                <span class="mdc-list-item__secondary-text link-container"><!--
                    -->Link: <a v-bind:href="item.link" target="_blanc" rel="noopener">{{item.link}}</a>
                    <span v-if="item.shared&&!item.edit">
                        <br>
                        Short link: <a shared v-bind:href="item.shared" target="_blanc" rel="noopener">{{item.shared}}</a>
                    </span>
                </span>
            </span>
            <div v-if="item.edit" class="mdc-list-item__meta links-ab" v-bind:data-uid="item.uid">
                <a href="#" v-bind:title="lang.discard" class="nosel material-icons links-ab__cancel">clear</a>
                <a href="#" v-bind:title="lang.save" class="nosel material-icons links-ab__confirm">done</a>
            </div>
            <div v-if="!item.edit" class="mdc-list-item__meta" v-bind:data-uid="item.uid">
                <a href="#" v-on:click.prevent="editar($event.target)" v-bind:title="lang.edit" class="nosel material-icons links-editar">mode_edit</a>
                <a v-if="!item.shared" href="#" v-on:click.prevent="publicar($event.target)" v-bind:title="lang.shorten" class="nosel mdc-list-item__meta material-icons links-publicar">link</a>
                <a v-else href="#" v-on:click.prevent="publicar($event.target)" v-bind:title="lang.unshare" class="nosel material-icons links-publicar">not_interested</a>
                <a v-if="self.navigator.share" href="#" v-on:click.prevent="compartir($event.target)" v-bind:title="lang.share" class="nosel material-icons links-compartir">share</a>
                <a v-if="self.navigator.share==undefined&&navigator.clipboard" href="#" v-on:click.prevent="copiar(item.shared||item.link)" v-bind:title="lang.copy" class="nosel material-icons links-copiar">content_copy</a>
                <a href="#" v-on:click.prevent="eliminar($event.target)" v-bind:title="lang.delete" class="nosel material-icons links-eliminar">delete</a>
            </div>
        </li>
    </ul>
</div>
