<div class="login-cont">
    <form id="formulario-login">
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-login-role="userDiv">
            <i class="material-icons mdc-text-field__icon">account_circle</i>
            <input type="text" autocomplete="username" id="login-usuario" class="mdc-text-field__input">
            <label class="mdc-floating-label" for="login-usuario">{{username}}</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <br><br>
        <div class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon" data-login-role="passwordDiv">
            <i class="material-icons mdc-text-field__icon">vpn_key</i>
            <input type="password" autocomplete="current-password" id="login-contraseña" class="mdc-text-field__input" disabled>
            <label class="mdc-floating-label" for="login-contraseña">{{password}}</label>
            <div class="mdc-line-ripple"></div>
        </div>
        <br><br>
        <button data-login type="button" id="login-registro" disabled class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon">add</i>
            {{register}}
        </button>
        <button data-login type="button" id="login-login" disabled class="mdc-button mdc-button--raised">
            <i class="material-icons mdc-button__icon">done</i>
            {{login}}
        </button>
    </form>
</div>
