<aside id="modal-idiomas" class="mdc-dialog" role="alertdialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{lang.modal_idiomas.title}}</h2>
            <div class="mdc-dialog__content">
                <ul class="mdc-list" data-idiomas="container">
                    <!--<a v-for="idioma in idiomas" href="#" class="mdc-list-item negro" data-idiomas="idioma" v-bind:data-idioma="idioma.abbr">{{idioma.completo}}</a>-->
                    <li v-for="idioma in idiomas" data-idiomas="idioma" v-bind:data-idioma="idioma.abbr" class="mdc-list-item">
                        {{idioma.completo}}
                        <a href="#" data-idiomas="boton-cambio" class="mdc-list-item__meta material-icons">language</a>
                    </li>
                </ul>
            </div>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">{{lang.btn.close}}</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
