<aside id="modal-añadir" class="mdc-dialog">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{title}}</h2>
            <section class="mdc-dialog__content">
                <form>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="text" data-añadir="desc" id="añadir-descripción" class="mdc-text-field__input" required>
                        <label class="mdc-floating-label">{{link_desc}}</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <br/>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
                        <input type="url" data-añadir="enlace" id="añadir-link" class="mdc-text-field__input" required>
                        <label class="mdc-floating-label">{{link_url}}</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                </form>
            </section>
            <footer class="mdc-dialog__actions">
                <button type="button" id="añadir-cancelar" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="cancel">
                    <i class="material-icons">cancel</i>
                    <span>{{cancel}}</span>
                </button>
                <button type="button" id="añadir-aceptar" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="accept">
                    <i class="material-icons">save</i>
                    <span>{{save}}</span>
                </button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
