<aside id="modal-usersettings" class="mdc-dialog mdc-dialog--scrollable">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{settings.userSettings}}</h2>
            <section class="mdc-dialog__content">
                <div id="us-changePassword">
                    <h3 class="mdc-typography mdc-typography--subtitle1">{{settings.changePassword}}</h3>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" data-chpwd="current">
                        <input id="us-ch-current" class="mdc-text-field__input" autocomplete="current-password" type="password" required>
                        <label class="mdc-floating-label" for="us-ch-current">{{loginForm.currentPassword}}</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" data-chpwd="new">
                        <input autocomplete="new-password" id="us-ch-new" type="password" class="mdc-text-field__input" required>
                        <label class="mdc-floating-label" for="us-ch-new">{{loginForm.newPassword}}</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-typography--caption" data-role="error"></p>
                    <button class="mdc-button" type="button">{{settings.changePassword}}</button>
                </div>
                <div id="us-deleteUser">
                    <h3 class="mdc-typography mdc-typography--subtitle1">{{settings.deleteUser}}</h3>
                    <div class="mdc-text-field" data-mdc-auto-init="MDCTextField" data-deluser="password">
                        <input autocomplete="current-password" id="us-del-current" type="password" class="mdc-text-field__input" required>
                        <label class="mdc-floating-label" for="us-del-current">{{loginForm.currentPassword}}</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-typography--caption" data-role="error"></p>
                    <button class="mdc-button" type="button">{{settings.deleteUser}}</button>
                </div>
            </section>
            <footer class="mdc-dialog__actions">
                <button class="mdc-button mdc-dialog_button" type="button" data-mdc-dialog-action="close">{{btn.close}}</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
