<aside id="modal-ajustes" class="mdc-dialog mdc-dialog--scrollable">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface">
            <h2 class="mdc-dialog__title">{{settings.settings}}</h2>
            <section class="mdc-dialog__content mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell mdc-card" v-for="setting in settings.cards">
                        <section class="card-main-text">
                            <h1 class="mdc-card__title--large">{{setting.title}}</h1>
                            <p>{{setting.text}}</p>
                        </section>
                        <div role='progressbar' class='mdc-linear-progress mdc-linear-progress--indeterminate' style="display: none;">
                            <div class="mdc-linear-progress__buffering-dots"></div>
                            <div class="mdc-linear-progress__buffer"></div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                        </div>
                        <section class="mdc-card__actions">
                            <button type="button" class="tarjeta-ajustes mdc-button mdc-button--compact mdc-card__action" :id="setting.id">{{btn.apply}}</button>
                        </section>
                    </div>
                </div>
            </section>
            <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="close">{{btn.close}}</button>
            </footer>
        </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
</aside>
