<div class="mdc-snackbar" id="snackbar">
    <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="assertive"></div>
        <div class="mdc-snackbar__actions">
            <button class="mdc-button mdc-snackbar__action">OK</button>
        </div>
    </div>
</div>
